body {
  	margin: 0;
  	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

code {
  	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* antd 组件的样式在此处无效 */

.tools_active {
	border: 1px solid white;
}

.tools_not_active {
	border: none;
}

.tools_not_active:hover {
	border: 1px solid rgba(255, 255, 255, 0.7);
}

.tools_not_active, .tools_active {
	width: 30px;
    height: 30px;
    display: block;
    margin: 30px auto;
    border-radius: 10%;
}